<a href="https://colab.research.google.com/github/souvik25162/Machine-Learning/blob/master/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from keras.models import Sequential,load_model
from sklearn.preprocessing import LabelEncoder
import keras as k
from sklearn.model_selection import train_test_split
from keras.layers import Dense

Using TensorFlow backend.

In [0]:
#load
from google.colab import files
upload=files.upload()
df=pd.read_csv('kidney_disease.csv')
df.head(5)

Saving kidney_disease.csv to kidney_disease.csv

   id   age    bp     sg   al   su  ...   dm cad appet   pe  ane  classification
0   0  48.0  80.0  1.020  1.0  0.0  ...  yes  no  good   no   no             ckd
1   1   7.0  50.0  1.020  4.0  0.0  ...   no  no  good   no   no             ckd
2   2  62.0  80.0  1.010  2.0  3.0  ...  yes  no  poor   no  yes             ckd
3   3  48.0  70.0  1.005  4.0  0.0  ...   no  no  poor  yes  yes             ckd
4   4  51.0  80.0  1.010  2.0  0.0  ...   no  no  good   no   no             ckd

[5 rows x 26 columns]

In [0]:
df.shape

(400, 26)

In [0]:
df.isna().sum()

id                  0
age                 9
bp                 12
sg                 47
al                 46
su                 49
rbc               152
pc                 65
pcc                 4
ba                  4
bgr                44
bu                 19
sc                 17
sod                87
pot                88
hemo               52
pcv                70
wc                105
rc                130
htn                 2
dm                  2
cad                 2
appet               1
pe                  1
ane                 1
classification      0
dtype: int64

In [0]:
#create a list if coloumn names to keep

columns_to_retain= ['sg','al','hemo','pcv','wc','rc','htn','classification']
#drpping
df=df.drop([col for col in df.columns if not col in columns_to_retain],axis=1)

df=df.dropna(axis=0)

In [0]:
df.head(7)

      sg   al  hemo pcv     wc   rc  htn classification
0  1.020  1.0  15.4  44   7800  5.2  yes            ckd
3  1.005  4.0  11.2  32   6700  3.9  yes            ckd
4  1.010  2.0  11.6  35   7300  4.6   no            ckd
5  1.015  3.0  12.2  39   7800  4.4  yes            ckd
7  1.015  2.0  12.4  44   6900    5   no            ckd
8  1.015  3.0  10.8  33   9600    4  yes            ckd
9  1.020  2.0   9.5  29  12100  3.7  yes            ckd

In [0]:
#transformation into numeric
for column in df.columns:
  if df[column].dtype== np.number:
    continue
  else:
    df[column]=LabelEncoder().fit_transform(df[column])

In [0]:
df.head(6)

      sg   al  hemo  pcv  wc  rc  htn  classification
0  1.020  1.0  15.4   26  66  28    1               0
3  1.005  4.0  11.2   14  56  15    1               0
4  1.010  2.0  11.6   17  62  22    0               0
5  1.015  3.0  12.2   21  66  20    1               0
7  1.015  2.0  12.4   26  58  26    0               0
8  1.015  3.0  10.8   15  82  16    1               0

In [0]:
#split the data into independent and dependent 
X=df.drop(['classification'],axis=1)
y=df['classification']

In [0]:
#feature scaling